/*
  Reference resources: https://www.materialui.co/colors
*/

$colors: (
        red: #f44336,
        pink: #E91E63,
        purple: #9C27B0,
        deepPurple: #673AB7,
        indigo: #3F51B5,
        blue: #2196F3,
        lightBlue: #03A9F4,
        cyan: #00BCD4,
        teal: #009688,
        green: #4CAF50,
        lightGreen: #8BC34A,
        lime: #CDDC39,
        yellow: #FFEB3B,
        amber: #FFC107,
        orange: #FF9800,
        deepOrange: #FF5722,
        brown: #795548,
        grey: #9E9E9E,
        blueGrey: #607D8B,
        black: #000000,
        white: #FFFFFF,
        transparent: transparent,
        success: #4caf50,
        error: #ff5252,
        info: #2196f3,
        warning: #fb8c00
);

$numbers: 10;
$directions: (top, right, bottom, left);
